<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="simple" class="teach.beandef.Message">
        <property name="message" value="Let's party!"/>
    </bean>

    <bean id="lazy" class="teach.beandef.Message" lazy-init="true">
        <property name="message" value="Another message here"/>
    </bean>

    <bean id="envelope" class="teach.beandef.Envelope">
        <property name="source" value="Me"/>
        <property name="destination" value="Santa Claus"/>
        <property name="message" ref="simple"/>
    </bean>

    <bean id="secondEnvelope" class="teach.beandef.Envelope">
        <property name="source" value="Me"/>
        <property name="destination" value="Mos Craciun"/>
        <property name="message">
            <bean class="teach.beandef.Message">
                <property name="message" value="I Want a Hippopotamus For Christmas"/>
            </bean>
        </property>
    </bean>

    <bean id="mailbox" class="teach.beandef.MailBox" init-method="init" destroy-method="destroy">
        <property name="envelopes">
            <list>
                <ref bean="envelope"/>
                <ref bean="secondEnvelope"/>
            </list>
        </property>
    </bean>

    <!--
    <property name="set">
        <set>
            <value>Value 1</value>
            <value>Value 2</value>
            <value>Value 3</value>
            <value>Value 1</value>
        </set>
    </property>

    <property name="map">
        <map>
            <entry key="1" value="First" />
            <entry key="2" value="Second" />
            <entry key="3" value="Third" />
        </map>
    </property>

    <property name="map">
        <props>
            <prop key="1">First</prop>
            <prop key="2">Second</prop>
            <prop key="3">Third</prop>
        </props>
    </property>

    -->
</beans>
