<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="envelope" class="teach.autowire.Envelope">
        <property name="source" value="Me"/>
        <property name="destination" value="Santa Claus"/>
    </bean>

    <bean id="envelopeDefault" class="teach.autowire.Envelope" parent="envelope">
        <property name="message">
            <bean class="teach.autowire.Message">
                <property name="message" value="Default message" />
            </bean>
        </property>
    </bean>

    <bean id="envelopeByName" class="teach.autowire.Envelope" parent="envelope" autowire="byName">
    </bean>

    <bean id="envelopeByType" class="teach.autowire.Envelope" parent="envelope" autowire="byType">
    </bean>

    <bean id="message" class="teach.autowire.Message">
        <property name="message" value="Autowired message"/>
    </bean>
</beans>
